In [1]:
import pandas as pd

In [2]:
# read/ loading file a using pandas 
salaries = pd.read_csv(r"D:\DS-Batch1\DS dataset\Salaries.csv")
salaries

         rank discipline  phd  service     sex  salary
0        Prof          A   51       51    Male   57800
1   AssocProf          A   25       22  Female   62884
2    AsstProf          A    7        6  Female   63100
3   AssocProf          B   12        9  Female   71065
4    AsstProf          A    2        0  Female   72500
..        ...        ...  ...      ...     ...     ...
73       Prof          B   22       21    Male  155750
74       Prof          A   45       43    Male  155865
75       Prof          B   24       15  Female  161101
76       Prof          B   35       33    Male  162200
77       Prof          B   56       49    Male  186960

[78 rows x 6 columns]

In [3]:
# first and last five rows of data
type(salaries)

pandas.core.frame.DataFrame

In [6]:
salaries.head(1) # 1st five rows of the data

   rank discipline  phd  service   sex  salary
0  Prof          A   51       51  Male   57800

In [9]:
salaries.tail(1) # last five rows of data

    rank discipline  phd  service   sex  salary
77  Prof          B   56       49  Male  186960

In [10]:
# size and shape of the data
salaries.shape

(78, 6)

In [11]:
# information about the columns
salaries.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [12]:
# information abput the values
salaries.values

array([['Prof', 'A', 51, 51, 'Male', 57800],
       ['AssocProf', 'A', 25, 22, 'Female', 62884],
       ['AsstProf', 'A', 7, 6, 'Female', 63100],
       ['AssocProf', 'B', 12, 9, 'Female', 71065],
       ['AsstProf', 'A', 2, 0, 'Female', 72500],
       ['AsstProf', 'A', 3, 1, 'Female', 72500],
       ['AsstProf', 'A', 4, 2, 'Male', 73000],
       ['AssocProf', 'A', 26, 24, 'Female', 73300],
       ['AsstProf', 'A', 5, 3, 'Female', 73500],
       ['AsstProf', 'B', 11, 3, 'Female', 74692],
       ['AssocProf', 'A', 13, 8, 'Female', 74830],
       ['AsstProf', 'B', 8, 3, 'Male', 75044],
       ['AsstProf', 'B', 5, 0, 'Female', 77000],
       ['AssocProf', 'A', 10, 8, 'Female', 77500],
       ['AsstProf', 'A', 4, 2, 'Female', 77500],
       ['AsstProf', 'A', 8, 3, 'Female', 78500],
       ['AsstProf', 'B', 4, 2, 'Female', 80225],
       ['AssocProf', 'A', 20, 17, 'Male', 81285],
       ['AsstProf', 'A', 2, 0, 'Male', 85000],
       ['AsstProf', 'B', 1, 0, 'Male', 88000],
       ['Prof', 'A', 17, 11, 'Female', 90450],
       ['AsstProf', 'B', 4, 3, 'Male', 91000],
       ['Prof', 'A', 29, 27, 'Female', 91000],
       ['Prof', 'A', 30, 23, 'Male', 91100],
       ['AsstProf', 'B', 7, 2, 'Male', 91300],
       ['AsstProf', 'B', 4, 0, 'Male', 92000],
       ['AsstProf', 'B', 4, 4, 'Male', 92000],
       ['AsstProf', 'B', 3, 3, 'Female', 92000],
       ['Prof', 'A', 12, 6, 'Male', 93000],
       ['Prof', 'A', 29, 19, 'Male', 94350],
       ['AsstProf', 'B', 10, 5, 'Female', 97032],
       ['Prof', 'B', 35, 31, 'Male', 99418],
       ['Prof', 'A', 20, 8, 'Male', 102000],
       ['Prof', 'A', 33, 30, 'Male', 103106],
       ['Prof', 'A', 27, 19, 'Male', 103275],
       ['AssocProf', 'B', 11, 11, 'Female', 103613],
       ['AssocProf', 'B', 13, 10, 'Female', 103750],
       ['AssocProf', 'B', 12, 10, 'Female', 103994],
       ['AssocProf', 'B', 19, 6, 'Female', 104542],
       ['Prof', 'B', 20, 18, 'Male', 104800],
       ['Prof', 'A', 12, 0, 'Female', 105000],
       ['Prof', 'B', 18, 10, 'Female', 105450],
       ['AssocProf', 'B', 9, 7, 'Male', 107008],
       ['Prof', 'A', 19, 7, 'Male', 107300],
       ['Prof', 'A', 23, 15, 'Female', 109646],
       ['AssocProf', 'B', 14, 7, 'Female', 109650],
       ['Prof', 'A', 28, 14, 'Female', 109954],
       ['Prof', 'A', 23, 20, 'Male', 110515],
       ['Prof', 'B', 17, 17, 'Female', 111512],
       ['Prof', 'A', 28, 7, 'Female', 116450],
       ['Prof', 'A', 36, 19, 'Female', 117555],
       ['AssocProf', 'B', 12, 8, 'Male', 119800],
       ['Prof', 'B', 18, 18, 'Male', 120000],
       ['Prof', 'A', 20, 20, 'Male', 122400],
       ['Prof', 'B', 17, 18, 'Female', 122960],
       ['Prof', 'B', 21, 20, 'Male', 123683],
       ['Prof', 'B', 17, 17, 'Female', 124312],
       ['Prof', 'A', 18, 18, 'Male', 126300],
       ['Prof', 'B', 28, 23, 'Male', 126933],
       ['Prof', 'B', 20, 14, 'Female', 127512],
       ['Prof', 'B', 39, 33, 'Male', 128250],
       ['Prof', 'B', 18, 18, 'Female', 129000],
       ['Prof', 'A', 40, 31, 'Male', 131205],
       ['Prof', 'B', 23, 23, 'Male', 134778],
       ['Prof', 'A', 39, 36, 'Female', 137000],
       ['Prof', 'B', 25, 25, 'Female', 140096],
       ['Prof', 'B', 36, 26, 'Female', 144651],
       ['Prof', 'B', 45, 45, 'Male', 146856],
       ['Prof', 'A', 38, 19, 'Male', 148750],
       ['Prof', 'B', 17, 3, 'Male', 150480],
       ['Prof', 'A', 29, 27, 'Male', 150500],
       ['Prof', 'B', 23, 19, 'Female', 151768],
       ['Prof', 'B', 25, 19, 'Male', 153750],
       ['Prof', 'B', 22, 21, 'Male', 155750],
       ['Prof', 'A', 45, 43, 'Male', 155865],
       ['Prof', 'B', 24, 15, 'Female', 161101],
       ['Prof', 'B', 35, 33, 'Male', 162200],
       ['Prof', 'B', 56, 49, 'Male', 186960]], dtype=object)

In [16]:
# unique values in the data
salaries['rank'].value_counts()

rank
Prof         46
AsstProf     19
AssocProf    13
Name: count, dtype: int64

In [17]:
salaries['sex'].value_counts()

sex
Male      39
Female    39
Name: count, dtype: int64

In [18]:
# checking for data types of columns
salaries.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [20]:
# extracting a single column
phd = salaries['phd']
print(phd)

0     51
1     25
2      7
3     12
4      2
      ..
73    22
74    45
75    24
76    35
77    56
Name: phd, Length: 78, dtype: int64

In [21]:
type(phd)

pandas.core.series.Series

In [22]:
# summary statistics
phd_mean = phd.mean()
print(phd_mean)

19.705128205128204

In [23]:
phd_median = phd.median()
print(phd_median)

18.5

In [24]:
phd_mode = phd.mode()
print(phd_mode)

0    4
Name: phd, dtype: int64

In [25]:
# overall summary statistics
salaries.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [ ]:
3,3.5,9.5,9.6

In [38]:
hieght1 = pd.Series([5.2,5.2,5.2,5.3,5.4,5.4,5.5,5.5,5.6,5.8,5.9,5.9,5.9,5.9,5.11,6.01])

In [65]:
hieght1.mean(),hieght1.var(),hieght1.std()

(5.55125, 0.09601166666666665, 0.30985749412700453)

In [81]:
hieght = pd.Series([3,3.5,9.5,9.6,5.2,5.2,5.2,5.3,5.4,5.4,5.5,5.5,5.6,5.8,5.9,5.9,5.9,5.9,5.11,6.01])
hieght.var(),hieght.mean()

(2.2929147368421057, 5.721000000000001)

In [47]:
M, Q1, Q2, Q3, MX = hieght.min(),hieght.quantile(0.25),hieght.quantile(0.5),hieght.quantile(0.75),hieght.max()

In [51]:
QD = Q3 - Q1
QD

0.7000000000000002

In [54]:
LQR = Q1 - 1.5*(QD)
UQR = Q3 + 1.5*(QD)

In [55]:
IQR = [LQR, UQR]

In [56]:
IQR

[4.15, 6.950000000000001]

In [63]:
o_hieght = hieght[(hieght>=LQR) & (hieght<=UQR)]

In [64]:
o_hieght.mean(),o_hieght.var(),o_hieght.std()

(5.55125, 0.09601166666666665, 0.30985749412700453)

In [72]:
slr = salaries['salary']
slr.count()

78

In [71]:
M, Q1, Q2, Q3, MX = slr.min(),slr.quantile(0.25),slr.quantile(0.5),slr.quantile(0.75),slr.max()
M,Q1,Q2,Q3,MX

(57800, 88612.5, 104671.0, 126774.75, 186960)

In [70]:
QD = Q3 - Q1
LQR = Q1 - 1.5*(QD)
UQR = Q3 + 1.5*(QD)
IQR = [LQR, UQR]
IQR

[31369.125, 184018.125]

In [73]:
o_slr = slr[(slr>=LQR) & (slr<=UQR)]
o_slr.count()

77

In [ ]:
Î¼3 =measure of skewness =  âˆ‘(x-x_bar)^3/n
Î¼4 =Measure of kurtosis =  âˆ‘(x-x_bar)^4/n  

skew = Î¼3^2/Î¼2^3
kurt = Î¼4/ Î¼2^2

In [84]:
Î¼2 = (hieght-hieght.mean())**2
Î¼3 = (hieght-hieght.mean())**3
Î¼4 = (hieght-hieght.mean())**4

In [85]:
hight_data = pd.DataFrame({'Î¼1':hieght,
             'Î¼2':Î¼2,
             'Î¼3':Î¼3,
             'Î¼4':Î¼4})

In [89]:
skew = (hight_data['Î¼3'].mean())**2 / (hight_data['Î¼2'].mean())**3
skew

1.5660069475955745

In [90]:
hieght.skew()

1.3552397629501687

In [91]:
kurt = (hight_data['Î¼4'].mean()) / (hight_data['Î¼2'].mean())**2 # kurt == 3 
kurt

5.373427449245935